@import "../../index.css"; 

.navbar {
	background-color: var(--colorAzul1);
}


.navbar-nav .nav-link:hover {
	color: var(--colorCeleste2);
}

.tab{
	/* Estilos para el menú de pestañas */
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

  
.tab-button {
	/* Estilos para los botones de pestaña */
	background-color: rgba(210, 214, 232, 0.68);
	border: none;
	border-radius: 4px;
	padding: 10px 85px;
	margin-right: 8px;
	cursor: pointer;
	font-weight: bold;
	color: var(--colorBlanco2);
  }
  
  .tab-button.active {
	/* Estilos para el botón activo */
	background-color: #4287f5;
	color: white;
  }

  .titulosAdminNavBar{
	font-weight: bold;
	color: var(--colorBlanco2);
	font-size: 30px;
  }

  .tab-content{
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .tab-button:disabled {
    /* Estilos para el botón desactivado */
    color: #666;
    cursor: not-allowed;
    border-color: var(--colorNegro);
    pointer-events: none;
    background-color: var(--colorGris1);
    opacity: 0.5; 
  }